{% extends 'layout.html' %}
{% block content %}
{% include 'nav.html' %}
<div class="container mt-4">
    {% include 'messages.html' %}
    <div class="row">
        <div class="col-md-12">
        <table class="table table-sm">
            <thead>
                <th>Sr</th>
                <th>Image</th>
                <th>Name</th>
                <th>Color</th>
                <th>Price</th>
                <th>Quantity</th>
                <th>Discount</th>
                <th>Subtotal</th>
                <th>Update</th>
                <th>Delete</th>
            </thead>
            <tbody>
                {% for key, product in session['shopcart'].items() %}
                {% set discount =(product.discount/100) * product.price|float %}
                <tr>
                    <td>{{loop.index}}</td>
                    <td><img src="{{url_for('static',filename='images/'+ product.image)}}" alt="{{product.name}}" width="50" height="45"></td>
                    <td>{{product.name}}</td>
                    <form action="{{url_for('cart.update_cart', code=key)}}" method="post">
                     <input type="hidden" name="csrf_token" value = "{{ csrf_token()}}" /> 
                    <td>
                        {% set colors = product.colors.split(',') %}
                        <label for="colors">Colors: </label>
                        <select name="color" id="color">
                            <option value="{{product.color}}" style="display: none;">{{product.color|capitalize}}</option>
                            {% for color in colors %}
                            {% set col = color.split(':') %}
                            <option value="{{col[0]}}">{{col[0] | capitalize }}</option>
                            {% endfor %}
                        </select>
                    
                    </td>
                    <td>${{"%.2f"|format(product.price)}}</td>
                    <td> <input type="number" name="quantity" min="1" max="10" value="{{product.quantity}}"> </td>
                    {% if product.discount  %}
                    <td>{{product.discount}} % &nbsp; &nbsp; is {{"%.2f"|format(discount)}}</td>
                    {% else %}
                    <td> 0 %</td>
                    {% endif %}
                    {% set subtotal = product.quantity|int * product.price|float  %}
                    <td>${{"%.2f"|format(subtotal - discount|round(1,'floor')) }}</td>
                    <td><button type="submit" class="btn btn-sm btn-info">Update</button> </td>
                </form>
                    <td> <a href="{{url_for('cart.delete_item', id=key)}}" class="btn btn-sm btn-danger">Delete</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <table class="table table-sm">
           <tr>
               <td> <a href="{{url_for('main.get_order')}}" class="btn btn-success"> Order now </a> </td>
               <td width="35%"></td>
               <td> <h5>Tax: ${{"%.2f"|format(total_without_tax*0.12)}}</h5></td>
               <td> <h5>Grand total: ${{"%.2f"|format(total_without_tax*1.12)}}</h3> </td>
                <td> <a href="{{url_for('cart.clear_cart')}}" class="btn btn-danger btn-sm float-right mr-4"> Clear cart</a> </td>
           </tr>
        </table>
    </div>
  </div>
</div>
{% endblock content %}